@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome <b>@Model.Name!</b></h1> <br />

    <form method="post" class="container">
        <div class="row">
            <div class="form-froup col-12 col-sm-6 col-md-3">
                <label asp-for="Address.Street"></label><br />
                <input asp-for="Address.Street" /><br />
                <span asp-validation-for="Address.Street" class="text-danger"></span>
            </div>
            <div class="form-froup col-12 col-sm-6 col-md-3">
                <label asp-for="Address.Number"></label><br />
                <input asp-for="Address.Number" /><br />
                <span asp-validation-for="Address.Number" class="text-danger"></span>
            </div>

            <div class="form-froup col-12 col-sm-6 col-md-3">
                <label asp-for="Address.ZipCode"></label><br />
                <input asp-for="Address.ZipCode" /><br />
                <span asp-validation-for="Address.ZipCode" class="text-danger"></span>
            </div>

            <div class="form-froup col-12 col-sm-6 col-md-3">
                <label asp-for="Address.City"></label><br />
                <input asp-for="Address.City" /><br />
                <span asp-validation-for="Address.City" class="text-danger"></span>
            </div>
        </div>
        <br />
        <button class="btn btn-primary" type="submit">Zatwierdź</button>
    </form>
</div>
